@page "/Courses"
@using ElectronicDepartment.Web.Client.Services
@using ElectronicDepartment.Web.Shared
@using ElectronicDepartment.Web.Shared.Common
@using ElectronicDepartment.Web.Shared.Course.Responce


@using static ElectronicDepartment.Web.Shared.CafedraController
@inject NavigationManager NavManager

<div class="mat-layout-grid-inner">
    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
        <h3>CourseTable</h3>
    </div>
    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
    </div>
    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
        <AuthorizeView Roles="admin, manager">
            <MatButton OnClick="@(item => NavManager.NavigateTo($"/manage/Course/"))" Icon="create_new_folder" style="display: flex; justify-content: flex-end">Add</MatButton>
        </AuthorizeView>
    </div>
</div>и

<MatTable Items="ApiResult.Data"
          class="mat-elevation-z5"
          UseSortHeaderRow="true"
          ShowPaging="true"
          FilterByColumnName="Name">
    <MatTableHeader>
        <MatSortHeaderRow SortChanged="@SortData">
            <MatSortHeader SortId="no">Action</MatSortHeader>
            <MatSortHeader SortId="Name">Name</MatSortHeader>
            <MatSortHeader SortId="CreatedAt">CreatedAt</MatSortHeader>
        </MatSortHeaderRow>
    </MatTableHeader>
    <MatTableRow>
        <td>
            <MatButton Raised="true" Icon="edit" title="Edit" OnClick="@(item => NavManager.NavigateTo($"/manage/Course/{@context.Id}"))"></MatButton>
        </td>
        <td>@context.Name</td>
        <td>@context.CreatedAt</td>
        <td>@context.Description</td>
    </MatTableRow>
</MatTable>

@code {
    MatPaginator matTablePagenator { get; set; } = null;

    [Inject]
    IHttpService HttpClient { get; set; }

    public GetApiBodyRequest Pagenator { get; set; } = new GetApiBodyRequest()
        {
            PageIndex = 0,
            PageSize = 1000,
        };

    public ApiResultViewModel<GetCourseViewModel> ApiResult { get; set; } = new ApiResultViewModel<GetCourseViewModel>();

    public async Task GetData()
    {
        var result = await HttpClient.PostAsync("api/Course/GetApiResponce", Pagenator);

        if (result.IsSuccessStatusCode)
        {
            ApiResult = await result.Content.ReadFromJsonAsync<ApiResultViewModel<GetCourseViewModel>>();
        }
    }

    public async Task SortData(MatSortChangedEvent sort)
    {
        if (!(sort == null || sort.Direction == MatSortDirection.None || string.IsNullOrEmpty(sort.SortId)))
        {
            if (sort.Direction == MatSortDirection.Desc)
            {
                Pagenator.SortingRequests = new List<SortingRequest>()
                    {
                        new SortingRequest()
                        {
                            SortColumn = sort.SortId,
                            SortOrder = "DESC"
                        }
                    };
            }
            else
            {
                Pagenator.SortingRequests = new List<SortingRequest>()
                    {
                        new SortingRequest()
                        {
                            SortColumn = sort.SortId,
                            SortOrder = "ASC"
                        }
                    };
            }

            await GetData();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await GetData();
    }
}
